<div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">Employees</li>
        <li>
          <a href="{% url 'person_app:all_employees' %}">List</a>
        </li>
        <li><a href="#">Departments</a></li>
        <li><a href="#">Manage</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><input type="search" placeholder="Search Employee"></li>
        <li><button type="button" class="button">Register New</button></li>
      </ul>
    </div>
  </div>