{% extends 'base.html' %}

{% block title %}
List Departments
{% endblock title %}

{% block content %}

{% include 'includes/header.html' %}

<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">List of Departments</h1>
        <div class="cell">
            <table>
                <tbody>
                    
                    {% for dept in departments  %}                        
                    <tr>
                        <td>{{ dept.name }}</td>
                        <td>{{ dept.short_name }}</td>
                        <td>
                            <a class="button warning" href="{% url 'person_app:dept_employees' dept.short_name %}">
                                See Employees
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}