{% extends 'base.html' %}


{% block title %}
Edit Employee
{% endblock title %}


{% block content %}

{% include 'includes/header.html' %}

<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Modify Employee Data</h1>
        <div class="cell">
            <form class="grid-x grid-margin-x" method="POST">{% csrf_token %}
                <div class="cell medium-6">
                    <label>First name:
                        {{ form.first_name }}
                    </label>
                </div>
                <div class="cell medium-6">
                    <label>Last name:
                        {{ form.last_name }}
                    </label>
                </div>
                <div class="cell medium-6">
                    <label>Job:
                        {{ form.job }}
                    </label>
                </div>
                <div class="cell medium-6">
                    <label>Department:
                        {{ form.department }}
                    </label>
                </div>
                <div class="cell medium-6">
                    <label>Skills:
                        {{ form.skill }}
                    </label>
                </div>
                <div class="cell">
                    <button type="submit" class="success button">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}